*{
    margin: 0;
    padding: 0;

}

body{
    background: rgb(24, 160, 251);
   
}

header{

    display: flex;
    background:rgb(217, 235, 252);
    height:70px;
    width: 100%;
    align-items: center;
    justify-content:space-between;
    padding: 0 20px;
    box-sizing: border-box;
}

.link{
    width:300px;
    display: flex;
    gap: 20px;
}

h1{
    color:rgb(44, 6, 119);
    font-size: 1.5em;
    
}

.ico, .imagem{
    border-radius: 100%;
}


.titulo{
    color: black;
    font-size: 2em;
}

.rodape{
    display: flex;
    background:rgb(217, 235, 252);
    height:100%;
    width: 100%;
    max-width: 3000px;
    
} 

.texto-imagem{
    display: flex;
    justify-content:space-around;
    height:100%;
    align-items: center ;
    
}

.mid{
    height: 100%;
    width:100%;
    margin:0 auto;
    padding: 40px 0;
    background:rgb(217, 226, 235);

}
.texto {
    width:500px;

}

.texto h1{
    margin-bottom: 20px;
}

.cabecalho{
    display: flex;
    background:rgb(217, 235, 252);
    height: 100px;;
    width: 100%;
    max-width: 3000px;
    
}
.painel{
    display: flex;
    justify-content: center;
    padding: 40px 0;
}
.footer{
    display: flex;
    background:rgb(217, 235, 252);
    height:70px;
    width: 100%;
    align-items: center;
    justify-content:space-between;
    padding: 0 20px;
    box-sizing: border-box;
}
.parte2, .hobby{
    padding:0 30px;
}

a:hover{
    text-decoration:underline;
    color:#F00;
}

.hobbie5{
    background-color: aliceblue;
    width: 102px;
    height: 150px;
}

.container{
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    width:100px;
    height:150px;
    display: flex;
    align-items: flex-end;

    

}
.hobbies{
    display: flex;
    flex-wrap:wrap;

}

.hob{
    color: rgb(248, 80, 164);
    font-size:20px;
    Text-Align: center;
    font-weight: 1000;
}

li{
    list-style-type:none;
    margin-right:10px;
    margin-bottom:20px;
}

@media only screen and (max-width:900px){
    .footer, .texto-imagem, .painel{
        flex-direction: column;
        justify-content:center;
    }
}

img:hover, .container:hover, .contato:hover{
    position:relative;
    top:-10px;border-bottom:2px solid #999;

}